@charset "utf-8";
/* CSS Document */
.Title {font-size:12px;}
.HrColor {height:3px;border:none;border-top:3px double green;}
.Descript {font-size:12px;line-height:130%;}
body{font-size:12px;}
p{text-indent:2em} 
table, th, td{border: 1px solid;}
table{margin-left:2em;margin-top:1em}
div{margin-left:2em;margin-top:1em}
#ulRange{list-style-type:none;margin:0px;margin-top:1em;list-style-position:inside;}
